/*Name: Amanda Jones
File: style.css
Date: Feb. 20, 2026
Description: The main CSS file for part 2 of assignment 3*/

/* General setup */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0 20px;
    min-width: 980px;
    max-width: 1400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin-bottom: 0;
    letter-spacing: normal;
}

p{
    text-indent: 2rem;
    font-size: medium;
}

/* Layout */

main {
    display: grid;
    grid-template-columns: 5fr 2fr 2fr;
    gap: 40px;
    padding: 20px 0;
}

/* header and footer */

header {
    border-bottom: 5px solid #aa6666;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

footer {
    border-top: 5px solid #aa6666;
}

footer p {
    text-align: center;
}